.gallery {
 
  background-color: rgb(15, 13, 13);
  color: whitesmoke;
  -webkit-column-count: 4;
  -moz-column-count: 4;
  column-count: 4;
  -webkit-column-width: 20%;
  -moz-column-width: 20%;
  column-width: 20%; 
  padding-top: 12px;
}
.gallery .pic {
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
  cursor: pointer;
  margin-bottom: 12px;
  /* width: 100%; */
}
.gallery .pic:hover{
    /* filter: opacity(.8); */
    transform: scale(1.05,1.05);
}
.open{
    width: 50%;
    height: 50vh;
}
@media (max-width: 991px) {
  .gallery {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}
@media (max-width: 480px) {
  .gallery {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-width: 100%;
    -moz-column-width: 100%;
    column-width: 100%;
  }
}
